{$APEX_HOST}, {$WWW_HOST} {
  @apex host {$APEX_HOST}
  handle @apex {
    redir https://{$WWW_HOST}{uri} permanent
  }

  @api path /api/*
  handle @api {
    reverse_proxy api:8000
  }

  handle {
    root * /srv
    try_files {path} {path}/index.html
    file_server
  }

  tls {$EMAIL}
  {$HSTS_LINE}
}
